# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:amuQuz
ErrorDocument 404 /404.html
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE amuQuz:ERRORPAGEID

RewriteEngine On 
RewriteCond %{HTTP_HOST} ^mecanicakustom.com.br
RewriteRule (.*) https://www.mecanicakustom.com.br/$1 [R=301,L]

<FilesMatch ".(htm|html|css|js)$">
AddDefaultCharset UTF-8
</FilesMatch>


#Remover .HTML
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html

#Remover .PHP
RewriteEngine on 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME}\.php -f 
RewriteRule ^(.*)$ $1.php